# Python
__pycache__/
*.pyc

# Environment
.env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# Data (VERY IMPORTANT)
data/

# Results
results/
*.png
*.jpg
*.csv
*.h5ad

# Models
*.pt
*.pth

# Logs
*.log

# VSCode (선택)
.vscode/
