# Python
__pycache__/
*.pyc

# Environment
.env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# Data 
data/

dataset/
*.mtx
*.tsv
*.gz

# Results
results/
# *.png
# *.jpg
*.csv
*.h5ad
*.xlsx

# Models
*.pt
*.pth

# Logs
*.log

# VSCode 
.vscode/
